<launch>
    <!-- <node pkg="examples" type="tf_lidar2map_pub.py" name="tf"  /> -->

    <!-- 1.라바콘 -->
    <!-- <node pkg="examples" type="cone_track.py" name="Conetrack"  />    -->
    
    <!-- 2.유턴 -->
	<!--node pkg="examples" type="uturn_ver_fin_2.py" name="uturn"  />    -->


    <!-- Launch detection_node -->
    <node name="detection_node" pkg="tracking_lib" type="tracking_lib_detection_node" output="screen" >
        <rosparam command="load" file="$(find tracking_lib)/config/detection.yaml"/>
        <rosparam command="load" file="$(find tracking_lib)/config/kitti/Segmenter.yaml"/>
    </node>

    <!-- Launch tracking_node -->
    <node name="tracking_node" pkg="tracking_lib" type="tracking_lib_tracking_node" output="screen" >
        <rosparam command="load" file="$(find tracking_lib)/config/tracking.yaml"/>
        <rosparam command="load" file="$(find tracking_lib)/config/kitti/TrackingWorker.yaml"/>
    </node>

    <!-- <include file="$(find rviz_car_model)/launch/default.launch">
        <arg name="fixed_frame" value="velodyne"/> -->
        <!-- x y z qx qy qz qw -->
        <!-- <arg name="transform" value="-1.44 0 -0.8 0 0 0 1"/>
    </include> -->
    

    <!--    //코드 디버깅위해 임시 비활성화
    <node pkg="rviz" type="rviz" name="rviz1" args="-d $(find examples)/rviz/kcity.rviz" />
    
    -->
</launch>