<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- Launch detection_node -->
    <node name="detection_node" pkg="segmenters_lib" type="detection_node" output="screen">
        <!-- Load ROS parameters -->
        <!-- Basic detector configuration -->
        <rosparam command="load" file="$(find segmenters_lib)/config/detection.yaml"/>
        <!-- Segmenter configuration for KiTTI -->
        <rosparam command="load" file="$(find segmenters_lib)/config/kitti/Segmenter.yaml"/>
    </node>

	<include file="$(find rviz_car_model)/launch/default.launch">
		<arg name="fixed_frame" value="velodyne"/>
		<!-- x y z qx qy qz qw -->
		<arg name="transform" value="0 0 -1.75 0 0 0 1"/>
	</include>

    <!-- Launch rviz for visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find segmenters_lib)/rviz/demo.rviz"/>
</launch>
